<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Maintenance Ticket Submission | Lint</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
          rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="Lint Logo" />
                        <h1>
                            Submit Maintenance Form
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>