:root {
--csh-primary: #B0197E;
--csh-secondary: #E11C52;
--bg: #25021A;
--fg: #FFFFFF;
}

* {
box-sizing: border-box;
}

html {
background: var(--bg1);
}

body {
background: var(--bg);
color: var(--fg);
height: 100%;
width: 100%;
min-height: 100vh;
margin: 0;
padding: 0 0;
padding-bottom: 2em;
font-family: Rubik, Roboto, sans-serif;
font-size: calc(10pt + 1vmin);
}

h1 {
font-size: 1em;
font-weight: 400;
margin-top: 20px;
line-height: 1.5;
}

h2 {
font-size: 0.9em;
font-family: "Rubik Medium", Rubik, Roboto, sans-serif;
color: var(--fg);
font-weight: 500;
}

.spaced-h3 {
margin-top: 1em;
}

h3 {
font-size: 0.75em;
}

p {
font-weight: 300;
font-size: 0.75em;
line-height: 1.4;
color: #D9B8CE;
margin-bottom: 0;
}

.row {
padding: 20px 0;
}

#header {
padding: 2em 1em;
font-size: 1.5em;
background:
    linear-gradient(rgba(0,0,0,0) 50%, var(--bg) 100%),
    repeat top/2.5em url('csh_tilted.png');
}